
h1{
  font-family: Azeret Mono ;
}
p{
  font-size: 16px;
  font-family: Azeret Mono ;
  color: #0D1321;

}
/* try to create nav bar name btn*/
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  height: 80px;
  width: 1350px;
}
.name-fist {
  font-size: 25px;
  font-family: Azeret Mono ;
  font-weight: 600;
  width: 114px;
  height: 34px;
}
.download-resume{
  width: 228px;
  height: 58px;
  border-radius: 8px;
  border-color: (13, 19, 33) ;
  opacity: 0.8;
  background: none;
  font-size: 20px;
}
  /*hero background area */

.hero-main{
  background-image: url(./assets/Hero-bg.png);
  height: 650px;
  width: 1440px;
  padding:10px;
}
.hero-container{
  margin-top: px;
}
.img-hero{
    margin: 40px 600px;
    display: block;
    
  
  }

.hero-second{
  text-align: center;
  align-items: center;
  justify-content: center;
}.hero-hed{
  height: 136;
  width: 998;
  margin: 20px 220px;
  font-size: 40px;
  font-family: Azeret Mono ;


}
.hero-pre{
  height: 136;
  width: 852;
  margin: 40px 270px;
  font-size: px;
  font-family: Azeret Mono ;

}
.hero-btn{
  height: 66px;
  width: 208px;
  background-color: rgb(13, 19, 33); 
  color: white;
  font-size: 22px;
  border-radius: 10px;
  margin-top: 20px;

}
/*why web dvlp section*/
.web-main{
  height: 1385px;
  width: 1140px;
  background-color: #0D132105 ;
  margin: 40px 70px  ;
  border-radius: 16px;
  padding: 80px 95px ;
  align-items: center;
  justify-content: center;

}
.web-head{
  text-align: center;
  font-size: 30px;
}
.web-pre{
  text-align: center;
  font-size: px;
}
.web-first-box{
  height: 336px;
  width: 946px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  border-radius: 16px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  margin: 32px 80px;
  gap: 80px;
}
.head-web-second{
  margin: 10px  10px  10px ;
  padding-right: 50px;
}


.we-btn-second{
  height: 48px;
  width: 150px;
  font-size: 20px;
  margin: 20px 0px;
  
}
.web-second-box{
  height: 336px;
  width: 946px;
  background: linear-gradient(90.00deg, rgba(255, 255, 255, 0),rgb(255, 255, 255) 100%);
  border-radius: 16px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  margin: 32px 80px;
  gap: 80px;
}
/*youtube and ins*/
.inspiration{
  text-align: center;
justify-content: center;
padding: 0px ;
}

.video-main
  {
    width: 1140px;
    height: 622px;
    margin: 40px 70px  ;
    padding: 80px 95px ;
    align-items: center;
  }

.video{
  width: 1140px;
  height: 622px;
  border-radius: 16px;
  border: 1px #0D1321 solid;
  align-items: center;
  padding: 10px;
}
/* current target*/
.current-target{
  text-align: center;
  margin: 50px ;
}
.program-target{
  height: 385px;
  width: 1140px;
  margin: 40px 150px;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.html-decoration{
  height: 300px;
  width: 364px;
  padding: 40px;
  background-color: #FF4C1E0D;
  margin: 20px 0px ;
  border-radius: 15px;
}
.css-decoration{
  height: 300px;
  width: 364px;
  padding: 40px;
  background-color: #004CE80D      ;
  margin: 20px 100px ;
  border-radius: 15px;
}
.java-decoration{
  height: 300px;
  width: 364px;
  padding: 40px;
  background-color: #FFDF000D  ;
  margin: 20px 0px ;
  border-radius: 15px;
}

.hyper-refarence{
  font-size: 20px;
  color:#0D1321 ;
}
.next-target{
text-align: center;
}
/*my next target*/
.react-style{
  display: flex;
  margin: 30px 150px;
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
  

}
.next-target-pre{
  margin:0px 0px 0px 190px;
}
.next-target-pre-second{
  margin:0px 0px 0px 145px;
}

 /*i need support*/


.i-need-support{
  background-image: url(./assets/handshake.jpg);
  height: 385px;
  width: 1140px;
  margin: 40px 70px  ;
  border-radius: 16px;
  padding: 80px 95px ;
  align-items: center;
  justify-content: center;

}
.need-support{
  text-align: center;
}
.need-support-head{
  margin: 20px;
  padding: 20px 30px;
  font-size: 40px;
}

.feedback{
  height: 57px;
  width:548px ;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  margin-top: 100px;
}
.btn-support{
  height: 57px;
  width:100px ;
  border-radius: 15px;
  border: none;
  font-size: 22px;
  margin-top: 40px;
}

.footer-area{
  width: 1440px;
  height: 100px;
  background-color: #0D132108;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.open-head{
  margin: 50px;

}

.social-media{
  margin: 50px;

}

